.iframe {
    height: 2.5em;
    overflow: hidden;
}

.toast-stacke {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0d6efd45;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0d6efd;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0453c9;
}

.toast-header {
	background-color: rgba(234, 234, 234, 0.85);
}